<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- A placeholder for the main logo with hyperlink going back to homepage -->

  <a class="navbar-brand" href="/">
    <div class="d-flex flex-row align-items-center">
      <div><img src="/img/AreebLogo.svg" class="mainlogo" /></div>
      <div class="ml-4">Areeb's Express Portfolio</div>
    </div>
  </a>

  <!-- Here we are defining the navigation bar items -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact me</a>
    </li>
  </ul>
</nav>
