<!-----
NAME: AREEB MOHAMED AL-QURAISHI
STUDENT ID: 301144972
COURSE ID: COMP229
SECTION: 006
ASSIGNMENT: 1
EMAIL: aalqurai@my.centennialcollege.ca
--->

<meta charset="UTF-8">
<title>Areeb's Express Portfolio</title>
<meta name="description" content="Areeb's Express Portfolio based on Assignment 1 for COMP229">
<meta name="keywords" content="Areeb, Personal, Website, Portfolio, Express, Node, Javascript">
<meta name="author" content="Areeb M. Al-Quraishi | Student ID:301144972">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- Custom CSS -->
<link rel="stylesheet" href="/css/style.css" />
