<!DOCTYPE html>
<html lang="en">
<head>
  <!-- We're including partial head template to avoid repeating -->

  <%- include('../partials/head'); %>
</head>
<body class="container">

<!-- We're including partial header template to avoid repeating -->

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <!-- This is the homepage body text -->

    <h1>Welcome to my personal portfolio!</h1>
    <p>This is a simple portfolio website showing my projects, contributions and services.<br>
    I provide various services in regard of software development, UI/UX and network services.<br>
      My main interest goes for front-end development. I use many tools like VueJS, NodeJS, Express, PHP, HTML, CSS and Javascript.<br>
      If you are interested in one of my services, Please don't hesitate to contact me using the <a href="/contact">contact form</a>.
    </p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
