<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Services:</h1>
    <p>
      <!-- We're using an ordered list to display our list of services with the easiest way -->

    <ul>
      <li>
        Web development: including backend, front-end, system design, integration, hosting and SEO.
      </li>
      <li>
        Mobile application development: we are build apps using native programming languages such as Java and Swift.
      </li>
      <li>
        UI/UX and Graphic design: we provide creative UI/UX and graphic designs to your project.
      </li>
      <li>
        Web hosting and servers' management: we can implement and publish your website / application on the best servers worldwide with low cost.
      </li>
    </ul>
    </p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
